<!DOCTYPE html>
<html>
    <head>
        <title>Error <%=status%></title>
    </head>
    <body>
        <h1>Error <%=status%></h1>
        <p><%=message%></p>
        <a href="/">Home Page</a>
    </body>
</html>