<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="/projects">My Projects</a>
        <% if(user){ %>
            <form action="/logout" method="POST">
                <button>Logout</button>
            </form>
        <% }else{ %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
    </body>
</html>