<!DOCTYPE html>
<html>
    <head>
        <title>New Project</title>
    </head>
    <body>
        <form action="/projects" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <% for(const type of types){ %>
                <div>
                    <input type="radio" name="type" id="<%=type%>" value="<%=type%>">
                    <label for="<%=type%>"><%=type%></label>
                </div>
            <% } %>
            <button>Create</button>
            <a href="/projects">Back</a>
        </form>
    </body>
</html>