<!DOCTYPE html>
<html>
    <head>
        <title><%=project.name%> - Run</title>
    </head>
    <body>
        <h1><%=project.name%> - Run</h1>
        <a href="/projects/<%=project._id%>">Back</a>
        <p>
            <%=consoleData%>
        </p>
    </body>
</html>