<%- include('../partials/start-container.ejs') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="card border-0 needs-validation" action="/register" method="POST" style="box-shadow: 0px 0px 21px 8px #0000001f;" novalidate>
                <div class="card-body">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="username" placeholder="." name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="password" placeholder="." name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <button class="btn btn-primary">Register</button>
                    <a href="/login" class="btn btn-primary">Already Registered? Click Here</a>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/form-validation.js"></script>
<%- include('../partials/end-container.ejs') %>